:root {
	--tan: #EBE6D1;
	--red: #C24332;
	--navy: #2E303F;
	--blue: #63948C;
}

body {
	/* margin: auto; */
	background-color: var(--tan);
	/* padding: 20px; */
}

nav {
	background-color: var(--tan);
	font-family: 'Open Sans', sans-serif;
}

nav, .navbar-brand, i{
	padding: unset !important;
}

nav li {
	padding: 0 10px;
}

nav .navbar-brand {
	margin: 5px;
}

nav img {
	height: 50px;
	margin: 0px;
}

nav a {
	color: var(--blue);
	font-weight: bold;
	letter-spacing: .7px;
}

nav a:hover {
	color: var(--navy);
}

nav button i {
	color: var(--blue);
	margin: unset;
}

.hero-img {
	width: 100%;
}

.about-me {
	background-color: var(--tan);
	padding: 20px;
}

.about-me h1, .project-section {
	text-align: center;
	padding: 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 46px;
	font-weight: bold;
	letter-spacing: 2px;
	color: var(--blue)
}

.about-me p {
	font-family: 'Montserrat', sans-serif;
	color: var(--navy);
	font-size: 18px;
}

.project-section {
	text-align: center;
	margin-top: 20px;
}

.projects {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 10px;
}

.embed-projects img {
	display: block;
	margin: auto;
	width: 250px;
}

.project-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
}

.project-title,
.project-link,
.desc,
.skills {
	padding: 0 0 0 25px;
}

.project-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
	color: var(--red)
}

.desc {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: var(--navy)
}

.skills {
	font-size: 14px;
	font-family: 'Monstserrat', sans-serif;
	margin: 5px 0;
	color: var(--blue)
}

.project-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: var(--red);
}

.project-link:hover {
	text-decoration: none;
	color: var(--navy)
}

.all-skills {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.all-skills img,
i {
	margin: 5px 40px;
}

.jquery-icon {
	width: 50px;
	/* margin-top: 5px; */
}

.contact {
	margin-top: 10px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/* background-color: lightsteelblue; */
}

.contact h3 {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: var(--blue);
}

.contact form {
	margin: auto;
}

.contact form input,
textarea {
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0;
}

.contact .submit {
	width: 100px;
	padding: 10px 10px;
	font-size: 18px;
	font-weight: bold;
	box-sizing: unset;
	color: var(--tan);
	background-color: var(--red);
	border: 1px solid var(--red);
}

.contact .submit:hover {
	background-color: var(--tan);
	color: var(--blue);
	border: 1px solid var(--navy)
}

footer {
	/* background-color: lightgreen; */
	margin-top: 20px;
	text-align: center;
	padding: 10px;
}

footer a:hover {
	text-decoration: none;
}

footer .desk-footer {
	display: none;
}

footer .footer-links ul {
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
}

@media screen and (min-width: 580px) {
	.about-me h1, .project-section {
		text-align: left;
		font-size: 30px;
	}

	.about-me p{
		font-size: 20px;
	}

	.project-section {
		text-align: left;
		margin-left: 20px;
	}

	.projects {
		margin: 20px 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		row-gap: 30px;
	}

	.projects div {
		margin: auto;
		padding: 0px;
	}

	.projects .project-img {
		width: 100%;
		padding: 0 10px;
	}

	.projects .project-img:hover {
		opacity: 0.8;
	}

	.embed-projects {
		display: grid;
		grid-template: 0fr / 1fr !important;
	}

	.embed-projects .project-title,
	.project-link,
	.desc,
	.skills {
		display: none;
	}

	.contact #form h3 {
		text-align: left;
	}
	.contact #form {
		max-width: 700px;
		margin: auto;
	}
}

@media screen and (min-width: 1350px) {
	.about-me h1, .project-section{
		font-size: 50px;
	}

	.about-me p {
		font-size: 25px;
	}

	footer {
		text-align: unset;
	}

	footer .desk-footer {
		/* background-color: red; */
		display: unset;
		display: grid;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	footer .footer-links {
		display: none;
	}

	footer .desk-footer-links {
		text-align: left;
		padding-left: 20px;
	}

	footer .desk-footer-links p {
		margin: 10px 0;
	}

	footer .recent-posts .media {
		margin: 10px;
	}

	footer .recent-posts img {
		/* width: 40px */
	}

	footer .instagram-feed {
		padding: 0 50px;
		max-width: 450px;
	}

	footer .footer-end {
		text-align: center;
	}
}
